.App {
  padding: 5px;
  width: 400px;
  margin: auto;
}

.App p.form-exp {
  width: 80px;
  display: inline-block;
  margin: 5px;
}

.App table.results {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.App table.results tr {
  border-bottom: 1px solid #dddddd;
}

.App table.results td {
  padding: 12px 15px;
}
